@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Schoolbell&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
}

.back-btn {
  background-color: white;
  color: #007bff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: #e3e3e3;
}

#create-recipe {
  margin-top: 40px;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  max-width: 500px;
  margin: 40px auto;
}

#recipe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#recipe-form input[type="text"],
#recipe-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#recipe-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#recipe-form button:hover {
  background-color: #0056b3;
}
